<p>This page will display information about entry number <%= params[:id] %></p>

<div class="entry">
  <p>Word: <%= @entry.word %></p>
  <p>Definition: <%= @entry.definition %></p>
  <p>Languate: <%= @entry.language %></p>
</div>
